@import 'section/mixin','section/variable','section/nav', 'section/kategori', 'section/headline', 'section/content', 'section/footer';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1000px;

    .container {
        @include container();
    }
}

