.footer {
    display: flex;
    width: 100%;
    background-color: $footer-color;
    height: 220px;

    .cf {
        display: flex;
    }

    .footkanan {
        width: 50%;
        height: 220px;
        border-bottom: 1px solid $footer-color;

        img {
            padding: 20px;
        }

        ul {
            @include li();
        } 

        a {
            text-decoration: none;
            color: $footer-text;
            padding: 20px;
            line-height: 30px;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .footkiri {
        display: flex;
        width: 50%;
        height: 220px;
        border-bottom: 1px solid  $footer-color;

        h3 {
            padding: 20px;
        }

        .jarf {
            display: flex;
        }

        a {
            text-decoration: none;
            color: rgb(71, 68, 68);
            padding: 20px;
            line-height: 35px;
            font-weight: bold;
            font-size: 13px;
        }

        .ff1 {
            display: flex;
            margin-right: 50px;
        }

        ul {
           @include li();
        } 
    }
}

.akhr {
    display: flex;
    width: 100%;
    background-color: $footer-color;
    height: 50px; 

    .sos1 {
        img {
            width: 30px;
            padding: 10px;
            margin-left: 10px;
        }
    } 

    p {
        font-weight: bold;
        margin-top: 20px;
        margin-left: 230px;
        font-size: 13px;
        color: $footer-text;
    }
}