.headline {
    margin-top: 20px;
    height: 40px;
    background-color: $primary-color;
    border-radius: 0px 0px 10px 10px;
    display: flex;

    button {
        background-color: $secondary-color;
        height: 20px;
        width: 110px;
        border: none;
        border-radius: 50px;
        font-size: 10px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;

        a {
            color: $primary-color;
        }
    }

    marquee {
        font-size: 13px;
        color: $secondary-color;
        font-weight: bold;
        justify-content: center;
        margin-top: 13px;
        margin-left: 8px;

        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
    
}