@mixin container {
    width: 71%;
    margin: auto;
    padding: 19px;
}

@mixin hr {
    margin-top: 10px;
    opacity: 0.3;
    width: 269px;
    margin-left: 10px;
}

@mixin margin1 {
    margin-top: 10px;
    margin-left: 10px;
}

@mixin berita {
    p {
        margin-left: 0px;
    }

    a {
        color: $text-color;
    }
}

@mixin item1 {
    margin-top: 20px;
    margin-left: 20px;
}

@mixin li {
    li {
        list-style-type: none;
    }
}

@mixin img {
    img {
        border-radius: 15px;
    }
}